.rowbody {  
  padding: 100px;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bodysobre{
  padding-top: 3%;
} 
.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgmodel {
  padding: 100px;
}

.imgmodel1 {
  border-radius: 50px;
  width: 1080px; 
}

.footer-button {
  background-color: #242424;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-start-end-radius: 50px;
  border-start-start-radius: 50px;
}


.modelcards {
  padding: 4rem;
  padding-bottom: 0px; 
  background: #fff;
}
 

.modelcards__container { 
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.modelcards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.modelcards__items {
  margin-bottom: 24px;
}

.modelcards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.modelcards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.modelcards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}
 
.modelcards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.modelcards__item__img:hover {
  transform: scale(1.1);
}
  
.modelcards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .modelcontent__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .modelcards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .modelcards__item {
    margin-bottom: 2rem;
  }
}
